[Unit]
Description=Pi Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /usr/local/bin/pi-monitor.py 8088
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
